.respSuccessfull {
    margin-left: 20px;
    color: green;
}

.full-table {
    width: 100%;
}

.d-f-space {
    display: flex;
    justify-content: space-between;
}

.activeFilterSelect {
    height: 21px;
}

.percentInput {
    width: 50px;
}

.pointer {
    cursor: pointer;
}

.full-table {
    input {
        width: 100%;
    }
}

.modalHeader {
    padding: 10px;
    border-bottom: 1px solid #e8ecfa;
}